<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Python Fundamentals</title>

    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/base.css') }}">
</head>
<a href="/start-learning" class="back-home">
    ← Back to Learning Paths
</a>

<body>

    <section class="lesson">
    <h1>Python Fundamentals</h1>
    <p>
        This learning path is currently under development.
</p>

<h2>Planned Lessons</h2>

<ul>
    <li>What is Python?</li>
    <li>Variables</li>
    <li>Functions</li>
    <li>Loops</li>
    <li>Arrays</li>
</ul>


    </section>

</body>
</html>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>