<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova-Labs</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>

<body>

    <nav class="navbar">

    <div class="nav-logo">
        Nova Labs
    </div>

    <ul class="nav-links">
        <a href="{{ url_for('start_learning') }}">Foundations</a>
        <li><a href="#">Hardware</a></li>
        <li><a href="#">Networking</a></li>
        <li><a href="#">Cybersecurity</a></li>
        <li><a href="#">Virtual Machines</a></li>
    </ul>

</nav>


    <!-- HERO -->
    <section class="hero">

        <h1>Learn Computer Science Interactively</h1>

        <p>
            Beginner-friendly lessons, networking labs,
            and hands-on cybersecurity education.
        </p>

        <a href="/start-learning" class="start-btn">
    Start Learning
</a>


    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>

