<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Networking Basics</title>

    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/base.css') }}">
</head>

<body>

    <section class="lesson">

        <h1>What is Latency?</h1>

        <p>
            Latency is the delay between sending data
            and receiving a response.
        </p>

        <div class="example-box">
            Higher latency = slower communication.
        </div>

        <div class="example-box">
            Online gaming and video calls rely on low latency.
        </div>

        <a href="/">
            ← Back to Home
        </a>

    </section>

</body>
</html>
