<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/base.css') }}">
    <title>What Is a Computer?</title>
</head>
<a href="/start-learning" class="back-home">
    ← Back to Learning Paths
</a>

<body>
    <section class="lesson-page">

    <div class="info-card computer-card">
    <h2> What is A Computer?</h2>
<p>A computer is a machine that takes information, makes decisions, and produces results.</p>
    
    <div class="info-card binary-card">
    <h3>Binary and Data</h3>
    </div>


</body>
</html>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>