<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/base.css') }}">
    <title>What Is a Computer?</title>
</head>
<a href="/start-learning" class="back-home">
    ← Back to Learning Paths
</a>

<body>
    <section class="lesson-page">

<a href="/what-is-comp.html" class="card-link">
    <div class="computer-card">
        <h2>1. What is a Computer?</h2>
        <p>
            A computer is a machine that takes information, makes decisions, and produces output.
        <p>
            <span class="explore-text">
    Click to explore →
        </span>
    </div>
</a>


</body>
</html>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>