<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/base.css') }}">
    <title>What Is a Computer?</title>
</head>
<a href="/" class="back-home">← Back to Home</a>

<body>
<h1> What is A Computer?</h1>
<p>A computer is a machine that takes information, makes decisions, and produces results.</p>
    <p>Choose a topic:</p>
    <div class="info-card binary card">
        <h3>Binary and Data</h3>


</body>
</html>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>